<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>feed</title>
</head>
<body>
    <h2>Welcome To Facebook</h2>
    
    <a href="/feed/addnew"><h3>Add a post</h3></a>
    <div class="feed">
        <% if (feeds.length>0){ %>
            <% feeds.forEach(feed=>{ %>
        <div class="card">
            <h2><%=feed.name %></h2>
            <h6><%= feed.message %></h6>
            <h6><%= feed.create_at%></h6>
            <a href="/feed/<%= feed._id %>">See More</a>
        </div>
            <% }) %>
        <%} else {%> 
            <h5>No Feeds On Backend Challenge Day</h5>
    
        <% } %>
</body>
</html>